* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer-card-container {
    z-index: 10;
    margin: 10px 5px 0 5px;
    padding: 0;
}

.inner-card-container {
    background-color: #e7ede9;
    border-radius: 10px;
}

.inner-card-container img {
    width: 100%;
    height: 270px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.inner-card-container h4 {
    padding: 10px 0 0 10px;
    font-weight: 700;
}

.inner-card-container p {
    padding: 0px 0 0 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.card-price {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 5px 10px;
    border-top: 1px solid #696a6b;
    border-bottom: 1px solid #696a6b;
}

.card-price P {
    font-size: 20px;
    font-weight: 600;
}

.mini-details {
    width: 95%;
    min-height: 100px;
    max-height: 100%;
    font-weight: 500;
}

.card-button {
    width: 100px;
    padding: 8px 0;
    border: none;
    font-size: 17px;
    font-weight: 600;
    background-color: #28523E;
    color: #fff;
    border-radius: 10px;
    margin: 10px 0 10px 10px;
    transition: 0.3s;
}

.header {
    background-color: #193529;
    height: 10vh;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.return-btn {
    padding: 5px 20px;
    color: #193529;
    border:none;
    background-color: #fff;
    border-radius: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.filter-container {
    position: sticky;
    top: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .3);
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2px;
}

.filter {
    padding: 5px 15px;
    color: #193529;
    border: 2px solid #e7ede9;
    background-color: #fff;
    border-radius: 10px;
    font-weight: 600;
    margin-bottom: 10px;
}

.header img {
    width: 100%;
}

.tours{
    min-height: 90vh;
    max-height: 100%;
}
.tour-details h2 {
    color: #28523E;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-container {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

.info-container h1 {
    font-size: 35px;
    color: #28523E;
    margin-bottom: 20px;
    padding: 10px 0;
    padding-left: 5px;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    color: #28523E;
    margin-top: 20px;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    color: #28523E;
    margin-top: 15px;
    margin-bottom: 10px;
}

.intro-section,
.highlights-section,
.visit-info-section,
.contact-section {
    margin-bottom: 40px;
}

.highlight {
    margin-bottom: 20px;
}

.info-item {
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #4F4F4F;
    margin-bottom: 15px;
}

ul li {
    font-size: 16px;
    color: #4F4F4F;
}
.img-container{
    width: 100%;
    margin-bottom: 40px;
}
.img-container img{
    width: 100%;
}
.book-now{
    width: 200px;
    padding: 10px 0;
    border: none;
    font-size: 17px;
    font-weight: 600;
    background-color: #28523E;
    border: 2px solid #28523E;
    color: #fff;
    border-radius: 10px;
    margin-top: 6px;
    margin-bottom: 5px;
    transition: 0.3s;
    margin-right: 10px;
}
.review-container{
    border: 1px solid #96b1a2;
    padding: 10px;
    border-radius: 8px;
}
.user-details-container{
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-details-container img{
   width: 45px;
   height: 40px;
   border-radius: 100%;
}


.star-rating {
    display: inline-flex;
    font-size: 3rem; 
    color: #d3d3d3; 
    cursor: pointer;
}

.star-rating .star.filled {
    color: gold; 
}

.star-rating .star {
    transition: color 0.2s ease-in-out;
}
.review-content p{
    font-weight: 600;
    font-size: 20px;
}
.like-dislikes {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 1rem;
}

.like-button, .dislike-button {
    background: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.like-button.active {
    background-color: #d4edda; 
    color: #155724; 
}

.dislike-button.active {
    background-color: #f8d7da;
    color: #721c24; 
}
.comment-btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 0;
}
.comment-btn-container p{
    border-bottom: 1px solid #96b1a2;
    cursor: pointer;
}
.comment{
    border: 1px solid #d3d3d3;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 15px;
}
.add-review-btn{
    width: 200px;
    padding: 10px 0;
    border: none;
    font-size: 17px;
    font-weight: 600;
    border: 2px solid #28523E;
    background-color: #fff;
    color: #28523E;
    border-radius: 10px;
    margin-top: 6px;
    margin-bottom: 5px;
    transition: 0.3s;
}
.add-review{
    border: 1px solid #96b1a2;
    padding: 13px;
    border-radius: 5px;
}
.add-review h4{
    padding: 0;
    margin: 0;
}
.edit-delete-btn{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}
.edit{
    padding: 5px 20px;
    color: #fff;
    border: none;
    background-color: #305e48;
    border-radius: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.delete{
    padding: 5px 20px;
    color: #fff;
    border: none;
    background-color: rgb(218, 60, 60);
    border-radius: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.save{
    padding: 5px 20px;
    color: #305e48;
    background-color: #fff;
    border: 2px solid #305e48;
    border-radius: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.border{
    border: 2px solid #305e48;
}
.action-btns{
    display: flex;
    gap: 10px;
}
.action-btns .check-out{
    width: 100%;
    padding: 10px 0;
    border: 2px solid #28523E;
    font-size: 17px;
    font-weight: 600;
    background-color: #28523E;
    color: #fff;
    border-radius: 10px;
    margin-top: 6px;
    margin-bottom: 5px;
    transition: 0.3s;
}
.action-btns .brochure{
    width: 100%;
    padding: 10px 0;
    border: 2px solid #28523E;
    font-size: 17px;
    font-weight: 600;
    background-color: #fff;
    color: #28523E;
    border-radius: 10px;
    margin-top: 6px;
    margin-bottom: 5px;
    transition: 0.3s;
}
@media (max-width: 768px) {
    .img-container{
        margin-bottom: 40px;
    }
    .info-container h1 {
        font-size: 19px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
    .review-content p{
        font-weight: 600;
        font-size: 15px;
    }
}